body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    color: rgba(245, 245, 245, 0.74);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

section {
    text-align: center;
}

.choose-game-p, .choose-fighter-p {
    padding-top: 15%;
    padding-bottom: 5%;
}

.game-mode-buttons-section, .rules  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: .8em;
    padding: 5px;
}

.fighter-buttons-section  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px;
    margin-bottom: 40px;
}

.rules {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin-left: 25px;
}

button {
    padding: 5px 10px;
    font-family: Nunito;
    font-size: 3vw;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(245, 245, 245, 0.73);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.left-section,
.right-section {
    flex: 1;
    padding-top: 10%;
}

.left-section {
    padding-right: 10%;
}

.right-section {
    padding-left: 10%;
}

.main-section {
    flex: 0 0 40%; 
    max-width: 40%; 
    padding-top: 5%;
}

h1 {
    margin: 0;
    font-size: 4vw;
}

p {
    margin: 10px 0;
    font-size: 3vw;
}

.message-box {
    margin-top: 50px;
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(245, 245, 245, 0.73);
    border: none;
    border-radius: 5px;
}

.spacer {
    aspect-ratio: 1/2;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(./assets/human-waves.svg);
}

.layer2 {
    background-image: url(./assets/machine-steps.svg);
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a150d7;
}